.window {
  width: 600px;
  height: 300px;
  border: 1px solid #000;
  overflow: hidden;
  position: relative;
  margin: 10px auto;
}
.window .train {
  width: 3000px;
  height: 300px;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  transition: all 2s;
}
.window .train .block {
  width: 600px;
  height: 300px;
  text-align: center;
  font-size: 24px;
}
.slider {
  position: relative;
  margin: 0 auto;
  width: 600px;
}
.slider button {
  position: absolute;
  top: 140px;
}
.left {
  left: -50px;
}
.right {
  right: -60px;
}
.window .train .y {
  background: #ff0;
}
.window .train .g {
  background: #008000;
}
.window .train .r {
  background: #f00;
}
.textmain {
  text-align: center;
  color: #4f4f4f;
  margin: 30px 0;
}
.image {
  background: url("./kiwi.svg") no-repeat;
  width: 612px;
  height: 502px;
}
