.sec3
	background-image url(./Slider_Images/sec3-bg.png)
	background-size cover


.sec3 .sec3-inner
	width 100%
	max-width 1366px
	margin auto

.sec3 .slider

.sec3 .slider-items
	width 100%
	padding 120px 0px 75px
	margin auto	

.sec3 .slider-menu
	display flex
	justify-content space-between
	margin 0
	padding 0
	height 170px


.sec3 .slider-menu-icon
	list-style-type none
	width 100%
	display flex

.sec3 .slider-menu-icon:nth-child(1)
	background-color #01646c


.sec3 .slider-menu-icon:nth-child(2)
	background-color #097b84


.sec3 .slider-menu-icon:nth-child(3)
	background-color #118f99


.sec3 .slider-menu-icon:nth-child(4)
	background-color #1da0aa


.sec3 .slider-menu-icon:nth-child(5)
	background-color #29b7c2


.sec3 .slider-menu-icon:nth-child(6)
	background-color #3ccad5

.sec3 .slider-menu-icon img
	width 81px
	height 81px
	margin auto		