.App {
  text-align: center;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: #fff;
}
.App-intro {
  font-size: large;
}
/*--------------------------------------------------------------------------------------------------------------------*/
/*@font-face {
  font-family: "Segoe UI Bold";
  src: url('./fonts/SegoeUIBold.ttf');
}


@font-face {
  font-family: "Segoe UI Light";
  src: url('./fonts/SegoeUILight.ttf');
}

@font-face {
  font-family: "Segoe UI Regular";
  src: url('./fonts/SegoeUIRegular.ttf');
}

@font-face {
  font-family: "Segoe UI SemiBold";
  src: url('./fonts/SegoeUISemiBold.ttf');
}*/
@font-face {
  font-family: 'Segoe UI Bold';
  src: url("https://nomail.com.ua/files/eot/a55ae3d966513727d1ee36109f626bac.eot?#iefix") format('embedded-opentype'), url("https://nomail.com.ua/files/woff/a55ae3d966513727d1ee36109f626bac.woff") format('woff'), url("https://nomail.com.ua/files/woff2/a55ae3d966513727d1ee36109f626bac.woff2") format('woff2');
}
@font-face {
  font-family: 'SegoeUI-Bold';
  src: local('SegoeUI-Bold'), url("https://nomail.com.ua/files/woff/a55ae3d966513727d1ee36109f626bac.woff") format('woff');
}
#segoeuibold {
  font-family: 'SegoeUI-Bold';
}
.fonta55ae3d966513727d1ee36109f626bac {
  font-family: 'fonta55ae3d966513727d1ee36109f626bac';
}
@font-face {
  font-family: 'Segoe UI Light';
  src: url("https://nomail.com.ua/files/eot/4d216b5521fcddd59102febd16593f2b.eot?#iefix") format('embedded-opentype'), url("https://nomail.com.ua/files/woff/4d216b5521fcddd59102febd16593f2b.woff") format('woff'), url("https://nomail.com.ua/files/woff2/4d216b5521fcddd59102febd16593f2b.woff2") format('woff2');
}
@font-face {
  font-family: 'SegoeUI-Light';
  src: local('SegoeUI-Light'), url("https://nomail.com.ua/files/woff/4d216b5521fcddd59102febd16593f2b.woff") format('woff');
}
#segoeuilight {
  font-family: 'SegoeUI-Light';
}
.font4d216b5521fcddd59102febd16593f2b {
  font-family: 'font4d216b5521fcddd59102febd16593f2b';
}
@font-face {
  font-family: 'Segoe UI Regular';
  src: url("https://nomail.com.ua/files/eot/b9e9836ef247552bfd77832dfac2d8d8.eot?#iefix") format('embedded-opentype'), url("https://nomail.com.ua/files/woff/b9e9836ef247552bfd77832dfac2d8d8.woff") format('woff'), url("https://nomail.com.ua/files/woff2/b9e9836ef247552bfd77832dfac2d8d8.woff2") format('woff2');
}
@font-face {
  font-family: 'SegoeUI';
  src: local('SegoeUI'), url("https://nomail.com.ua/files/woff/b9e9836ef247552bfd77832dfac2d8d8.woff") format('woff');
}
#segoeui {
  font-family: 'SegoeUI';
}
.fontb9e9836ef247552bfd77832dfac2d8d8 {
  font-family: 'fontb9e9836ef247552bfd77832dfac2d8d8';
}
@font-face {
  font-family: 'Segoe UI SemiBold';
  src: url("https://nomail.com.ua/files/eot/e6df1498e3403d6dad36893d1ebb2793.eot?#iefix") format('embedded-opentype'), url("https://nomail.com.ua/files/woff/e6df1498e3403d6dad36893d1ebb2793.woff") format('woff'), url("https://nomail.com.ua/files/woff2/e6df1498e3403d6dad36893d1ebb2793.woff2") format('woff2');
}
@font-face {
  font-family: 'SegoeUI-Semibold';
  src: local('SegoeUI-Semibold'), url("https://nomail.com.ua/files/woff/e6df1498e3403d6dad36893d1ebb2793.woff") format('woff');
}
#segoeuisemibold {
  font-family: 'SegoeUI-Semibold';
}
.fonte6df1498e3403d6dad36893d1ebb2793 {
  font-family: 'fonte6df1498e3403d6dad36893d1ebb2793';
}
.sprite-frame,
.sprite-instagram,
.sprite-serious,
.sprite-coffee {
  display: inline-block;
  background: url("./images/spritesheet.png") no-repeat;
  overflow: hidden;
  text-indent: -9999px;
  text-align: left;
}
.sprite-frame {
  background-position: -4px 0px;
  width: 48px;
  height: 48px;
}
.sprite-instagram {
  background-position: -4px -52px;
  width: 48px;
  height: 48px;
}
.sprite-serious {
  background-position: -4px -104px;
  width: 47px;
  height: 48px;
}
.sprite-coffee {
  background-position: -4px -153px;
  width: 34px;
  height: 48px;
}
.container,
.container-fluid {
  padding: 0 !important;
}
body {
  font-family: "Segoe UI Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px !important;
  color: #fff;
  overflow-x: hidden;
}
/*--------------------------------------------------------------------------------------------------------------------*/
@-moz-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-o-keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
