.block-body
  width 1000px
  height 450px
  border 1px solid black
  margin auto
  margin-top 25px

.block-body-title
  border 1px solid black
  height 45px
  width 650px
  float left
  p
    text-align center

.block-body-instructions
  border 1px solid black
  height 150px
  width 650px
  float left
  p
    text-align center

.block-body-logical
  margin auto
  text-align center
  border 1px solid black
  height 255px
  width 650px
  float left
  p
    text-align center
    font-weight bold
  input
    width 35px
    height 35px
    text-align center
    padding-left 5px
    margin-left 15px
  h2
    margin-left 15px
    display inline-block
  button
    margin-left 25px
    width 75px
    height 35px
    font-size 14px

.block-body-result
  margin auto
  margin-top 45px
  padding-top 5px
  text-align center
  border 1px solid black
  height 75px
  width 650px
  float left
  p
    text-align center
    font-weight bold

.block-body-calc
  border 1px solid black
  margin-left 650px
  margin-top 50px
  height 350px
  width 350px
