.banner 
    background-image url(img/banner-bg.png)
    background-size cover


.banner .banner-inner 
    width 100%
    max-width: 1366px
    margin auto
    position relative


.banner .slider 
    width 960px
    margin auto


.banner .slider-menu 
    display flex
    position absolute
    right 0
    top 0
    

.banner .slider-items 
    padding 47px 0px 35px


.about 
    padding 47px 0px 125px


.about .about-inner 
    max-width 960px
    margin auto
    text-align center


.about .title 
    font-size 41px
    color rgb 99 99 99
    font-family "SegoeWPN-Light"

.about .sub-title 
    font-size 15px
    color rgb 159 159 159
    font-family "OpenSans"
    text-align center


.about .img 
    display inline-block

.sec3 
    background-image url(img/sec3-bg.png)
    background-size cover


.sec3 .sec3-inner 
    width 100%
    max-width 1366px
    margin auto


.sec3 .slider 

.sec3 .slider-items 
    width 960px
    padding 120px 0px 75px
    margin auto


.sec3 .slider-menu 
    display flex
    justify-content space-between
    margin 0
    padding 0
    height 170px


.sec3 .slider-menu-icon 
    list-style-type none
    width 100%
    display flex

.sec3 .slider-menu-icon:nth-child(1) 
    background-color #01646c


.sec3 .slider-menu-icon:nth-child(2) 
    background-color #097b84


.sec3 .slider-menu-icon:nth-child(3) 
    background-color #118f99


.sec3 .slider-menu-icon:nth-child(4) 
    background-color #1da0aa


.sec3 .slider-menu-icon:nth-child(5) 
    background-color #29b7c2


.sec3 .slider-menu-icon:nth-child(6) 
    background-color #3ccad5


.sec3 .slider-menu-icon img 
    width 81px
    height 81px
    margin auto
    

.sec4 

.sec4 .sec4-inner 
    width 100%
    max-width 1366px
    margin auto
    display flex
    justify-content space-between
    height: 513px


.sec4 .text 
    display flex
    width 100%


.sec4 .text img 
    max-width 100%
    max-height 100%
    margin auto


.sec4 .img 
