.banner
	background-image url(../Images/banner-bg.png)
	background-size cover

.banner .banner-inner
	width 100%
	max-width 1366px
	margin auto
	position relative	

.banner .slider
	width 960px
	margin auto


.banner .slider-menu
	display flex
	position absolute
	right 0
	top 0

.banner .slider-items
	padding 47px 0px 35px

.about
	padding 47px 0px 125px


.about .about-inner
	max-width 960px
	margin auto
	text-align center


.about .title
	font-size 41px
	color rgb 99 99 99
	font-family "SegoeWPN-Light"

.about .sub-title
	font-size 15px
	color rgb 159 159 159
	font-family "OpenSans"
	text-align center

.about .img
	display inline-block

.sec4

.sec4 .sec4-inner
	width 100%
	max-width 1366px
	margin auto
	display flex
	justify-content space-between
	height: 513px

.sec4 .text
	display flex
	width 100%


.sec4 .text img
	max-width 100%
	max-height 100%
	margin auto