.wrapper
  width 100%
  margin auto

.menu
  display none

.header-content
  width 1240px
  height 126px
  margin auto
  margin-top 29px

.logo
  width 247px
  height 52px
  margin auto
  margin 5px 0px 0px 13px
  float left

.logo__img
  width 247px
  height 30px
  margin auto
  float left

.logo__text
  width 247px
  height 13px
  margin auto
  margin-top 9px
  float left
  color #747688

.search-bar
  width 496px
  height 30px
  margin auto
  margin-left 43px
  float left
  input
    background white
    border 1px solid #b9b8bd
    border-radius 5px
    width 496px
    height 40px
    font-size 14px
    float left

.search-bar__button
  width 24px
  height 24px
  float left
  margin -27px
  margin-top 8px
  cursor pointer
  display block

.contacts
  width 336px
  height 29px
  margin auto
  margin 8px 0px 0px 92px
  float left

.contacts__phone
  width 185px
  height 21px
  margin auto
  margin-top 3px
  float left
  font-size 21px
  color #000000

.contacts__whours
  width 134px
  height 12px
  margin auto
  margin-top -5px
  float right
  text-align center
  font-size 12px
  font-weight bold
  color #cb944c

.contacts__delivery
  width 134px
  height 12px
  margin auto
  margin 5px 0px 0px 17px
  float right
  text-align center
  font-size 12px
  font-weight bold
  color #2b3056

.navbar
  width 1240px
  height 56px
  margin auto
  margin-top 13px
  float left
  border-bottom 1px solid #dddfdf
  border-top 1px solid #dddfdf

.list
  width 1240px
  height 25px
  margin auto
  margin-top 13px
  float left

.main-menu
  width 831px
  height 20px
  padding 5px 0px 0px 3px
  margin auto
  float left
  ul
    background-color #ffffff
  ul>li
      box-sizing border-box
      cursor pointer
      list-style none
      transition all 1s ease
      a
        padding 0
  img
    padding 2px 5px 0px 0px

.navlist__item
  display block
  margin 0 22px 0 0
  position relative
  vertical-align top
  list-style-type none
  float left

.menu-icon-right
  float right
  display inline-block
  margin -2px 4px 0px 0px

.navlist__itemlast-child
  margin-right 0px !important

.navlist__link
  display block
  font-size 14px
  line-height 16px
  color #171717
  font-weight bold
  text-decoration none
  padding-bottom 5px

.subnavlist
  width 200px
  display inline-block
  font-size 14px
  line-height 16px
  color #171717
  font-weight bold
  text-decoration none
  margin-bottom 13px
  padding-left 1px

.subnavlisthover
  background rgba(0, 0, 0, 0.1)

.subnavlist__link
  width 200px
  display inline-block
  font-size 14px
  line-height 16px
  color #171717
  font-weight bold
  text-decoration none
  margin-bottom 18px

.subnavlist__linkhover
  background rgba(0, 0, 0, 0.1)

.menu-icon
  margin 1px 5px 0px 12px
  float left

.menu-icon-drop
  margin-bottom 2px

.dropdown-content
  width 245px
  height 266px
  background #ffffff
  border 1px solid #dddfdf
  border-radius 3px
  position absolute
  margin 24px 0px 0px -4px
  padding 24px 0px 0px 16px
  z-index 3
  a
    color #666666

.dropdown-activator ul > li
  list-style-image url('../images/search.png')
  list-style-typecircle
  list-style-position inside

.dropdown-subcontent
  width 245px
  height 156px
  background #ffffff
  border 1px solid #dddfdf
  border-radius 3px
  position absolute
  margin-left 5px
  padding 10px 0px 0px 18px
  left 240px
  top 92px
  a
    color #666666

.dropdown-subcontent-title
  padding-top 10px
  color #cb944c
  font-weight bold
  font-size 14px

.basket
  width 310px
  height 25px
  margin auto
  float right
  margin-right 12px

.basket__cart
  width 210px
  height 25px
  margin auto
  float left
  padding 2px 0px 0px 1px

.basket__login
  width 85px
  height 20px
  margin auto
  float right
  padding 2px 0px 0px 3px

.basket__cart-span
  font-size 14px
  float left
  font-weight bold
  margin 5px 0px 0px 5px
  color #252a54

.basket__cart-image
  float left
  margin-right 12px

.basket__login-image
  margin-top 3px
  float left

.basket__login-span
  font-size 14px
  float left
  font-weight bold
  margin 5px 0px 0px 8px
  color #252a54
