@font-face{font-family:'Segoe UI Bold';src:url('https://nomail.com.ua/files/eot/a55ae3d966513727d1ee36109f626bac.eot?#iefix') format('embedded-opentype'),url('https://nomail.com.ua/files/woff/a55ae3d966513727d1ee36109f626bac.woff') format('woff'),url('https://nomail.com.ua/files/woff2/a55ae3d966513727d1ee36109f626bac.woff2') format('woff2');}@font-face{font-family:'SegoeUI-Bold';src:local('SegoeUI-Bold'),url('https://nomail.com.ua/files/woff/a55ae3d966513727d1ee36109f626bac.woff') format('woff');}#segoeuibold{font-family:'SegoeUI-Bold';}.fonta55ae3d966513727d1ee36109f626bac{font-family:'fonta55ae3d966513727d1ee36109f626bac';}

.navigationLinks{
    display: flex;
    flex-flow: wrap;
    justify-content: flex-start;
    transition: border-color 2s, color 0.5s;
    padding: 6px 16px;
    font-family: "Segoe UI Bold";
    border: 2px solid transparent;

}

.navigationLinks a{
    color: #515f67 !important;
    text-transform: uppercase;
    padding-right: 20px;
    font-size: 14px;
}

.navigationLinks a:last-child{
    padding-right: 0;
}

.navigationLinks a:hover, .navigationLinks a:focus{
    text-decoration: none;
    color: #4bcaff !important;
    transition: color 0.3s;
}

.future_project{
    padding: 0 15px !important;
}

@media (max-width:768px) {
    .home{
        padding: 0 15px !important;
    }
}